.contact {
  width: 100%;
  font-size: 2rem;
  padding: 1rem 0.5rem 0.5rem;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:nth-child(even) {
    background-color: rgb(252, 252, 252);
  }

  &_overview {
    display: flex;
    align-items: center;

    p {
      margin-left: 1rem;
    }
  }

  &_image {
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    border: 1px solid gray !important;
  }
}

.bookmark {
  cursor: pointer;
  svg {
    path {
      fill: gray;
    }
  }
}
.bookmarked {
  svg {
    path {
      fill: rgb(114, 14, 145);
    }
  }
}
